*.py[cod]
env
venv

# DataTables Editor is commercial
examples/orderings/frontend/DatatablesEditor/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.cache
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
cover

#Docs
docs/_build
docs/_build_pdf

#Pycharm
.idea

#Eclipse/Aptana
.project
.pydevproject
